#feed-link, #logout-link, #settings-link, #display-user, #search-link {
    color: #84848B;
}

#help-link {
    color: #D5D4E3;
}

#help-message {
    width: 40%;
    margin: auto auto 0;
    color: #84848B;
    font-size: 16px;
    text-align: left;
}

#help-message a {
    text-decoration: none;
    color: #16A190;
}

#help-message a:hover {
    color: #19D5BB;
}

strong {
    color: #16A190;
}