/**
 Purpose: Contains the styling for the
 login.html and create-account.html pages
 */
body {
    background-image: url('../images/login_background.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

body {
    background-color: #1A1A1B;
    width: 500px;
    text-align: center;
    margin: 200px auto auto;
}

p  {
    font-style: italic;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    background-color: #161516;
    width: 100%;
    padding: 50px;
    margin-left: -50px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #0A0A0A;
    font-family: monospace;
}

#box a {
    text-decoration: none;
    color: #16A190;
}

#login-form, #create-user-form {
    background-color: #161516;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;

}

input[type=submit] {
    width: 100%;
    background-color: #16A190;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: monospace;
}

input[type=submit]:hover {
    background-color: #19D5BB;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    white-space: pre-line;
}
