#settings-link, #help-link, #logout-link, #feed-link {
    color: #84848B;
}

#search-link {
    color: #D5D4E3;
}

#search-bar {
    position: relative;
    max-width: 40%;
    margin: 0 auto 14px;
    background-color: #1C1C1D;
    padding: 14px 14px 1px 14px;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #0A0A0A;
}

#search-bar input[type="text"],
#search-bar textarea {
    resize: none;
    display: block;
    width: 90%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-bottom: 14px;
    background-color: #E5E6E5;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#search-bar button[type="submit"] {
    position: absolute;
    top: 14px;
    right:14px;

    margin-left: 90%;
    width: 40px;
    background-color: #16A190;
    color: #E5E6E5;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-bar button[type="submit"]:hover {
    background-color: #19D5BB;
}

#user-list {
    list-style: none;
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
    padding: 0;
}

#user-list li {
    white-space: nowrap;
    width: max-content;
    background-color: #1C1C1D;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #0A0A0A;
    padding: 24px;
    margin-bottom: 14px;
    color: #E5E6E5;
}

#user-list li:last-child {
    margin-bottom: 0;
}

#user li p {
    font-size: 24px;
    margin-bottom: 12px;
}

#user-list li small {
    font-size: 20px;
    color: #E5E6E5;
}
