#feed-link, #help-link, #logout-link, #settings-link, #feed-link {
    color: #84848B;
}

#display-user {
    color: #D5D4E3;
}

#welcome-message {
    width: 40%;
    margin: auto auto 0;
    color: #84848B;
    font-size: 16px;
    text-align: center;
}

#welcome-message a {
    text-decoration: none;
    color: #16A190;
}

#welcome-message a:hover {
    color: #19D5BB;
}